*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;}
i{
    font-size: 35px;
    color:  green;
    margin-left: 50px;
}
.all{
      font-family: "Playfair", serif;
      font-style: italic;
      font-weight: 900;
      font-size: 30px;

}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    align-content: center;
    box-shadow: 0px 1px 4px rgb(19, 111, 6);
    height: 80px;
    background-color: white;
    


}
.nav-link{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-content: center;
    align-items: center;

}
.nav-link li a{
    text-decoration: none;
    font-family: "Playfair", serif;
    color: rgb(76, 75, 75);
    font-weight: bold;
    transition: 0.3s;

}
.nav-link li a:hover {
    color: green;
    text-shadow: 0 0 10px green;
}

.btn{
    margin-left: 1rem;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: rgb(13, 161, 13);
    border: none;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    box-shadow: 0px 2px 5px rgb(104, 105, 103);
    border-style: inset;
    transition: 0.3s;
}
.btn:hover{
    background-color: red;
    box-shadow: 0 0 25px green;
}
.btn a{
    text-decoration: none;
    color: rgb(232, 228, 228);
    font-weight: 800;
    font-size: 11px

}
